@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply w-full min-h-dvh m-0 p-0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label {
  @apply ml-1 text-sm;
}

input,
select,
textarea {
  @apply rounded-md bg-gray-50 border border-gray-300 py-2 px-3 outline-none ring-indigo-300 focus:ring dark:text-white dark:bg-gray-800;
}

/* Form */

.form-item {
  @apply relative pt-3;
}

.form-item:nth-of-type(n + 1) {
  @apply mt-1;
}

.form-item > label {
  @apply absolute top-0 left-3 bg-gray-50 border border-gray-300 px-1 rounded-md;
}

.form-item > input {
  @apply pt-4;
}

.form-item > .error {
  @apply h-5 text-red-500 ml-1 text-sm;
}

/* Card */

.card {
  @apply block rounded-lg md:border border-gray-200 md:shadow-md;
}

.cart-badge {
  @apply font-bold text-white w-8 h-8 leading-8 rounded-full bg-orange-600 text-center;
}

.caret {
  @apply w-0 h-0 border-8 border-solid border-transparent border-r-gray-300 dark:border-r-gray-900 absolute ml-[73px] -mt-5;
}

/* Button */

.btn {
  @apply rounded bg-gray-100 text-black py-2 px-4 shadow outline-none hover:bg-gray-200 active:bg-gray-300 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700;
}

.btn--primary {
  @apply bg-amber-300 hover:bg-amber-400 active:bg-amber-500;
}

.btn--sm {
  @apply text-sm py-1 px-3;
}

.btn--icon {
  @apply relative w-10 h-10 p-0 rounded-full;
}

.btn--icon > img {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.btn--icon.btn--sm {
  @apply w-7 h-7;
}
